name: Generate pacman contribution

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      
      - uses: Platane/snk@v3
        with:
          github_user_name: LuisGustavoCassioli
          outputs: |
            dist/pacman-contribution-graph.svg?pacman=1&palette=github-light
            dist/pacman-contribution-graph-dark.svg?pacman=1&palette=github-dark
            
      - uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
